<ngx-loading [show]="itemService.loading"></ngx-loading>
<div class="container-fluid">
    <div class="row pt-3">
        <div class="col-xs-12 mx-auto">
            <button
                type="button"
                class="btn btn-outline-primary"
                (click)="addOrRemoveItems()">
                Add/Remove Items
            </button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 mx-auto">
            <ul class="list-group">
                <li>
                    <div class="form-inline">
                        <div class="form-group">
                            <a
                                class="list-group-item"
                                (click)="shoppingItemListClick($event, item)"
                                *ngFor="let item of shoppingItems">
                                {{ item.name }}
                                <i class="fa fa-caret-down float-right"></i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
