<ngx-loading [show]="itemService.loading"></ngx-loading>
<div class="container-fluid">
    <div id="button-group" class="btn-group pt-3">
        <div class="btn-group" ngbDropdown>
            <button
                class="btn btn-outline-secondary"
                id="filterByStoreDropdown"
                ngbDropdownToggle>
                {{ selectedStore }}
            </button>
            <div
                class="dropdown-menu"
                aria-labelledby="filterByStoreDropdown"
                ngbDropdownMenu>
                <button
                    class="dropdown-item"
                    *ngFor="let store of stores"
                    (click)="filterByStore(store.name)">
                    {{ store.name }}
                </button>
            </div>
        </div>
        <button
            type="button"
            class="btn btn-outline-primary"
            (click)="addOrRemoveItems()">
            + / -
        </button>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 mx-auto">
            <ul class="list-group">
                <li>
                    <div class="form-inline">
                        <div class="form-group">
                            <a
                                class="list-group-item"
                                (click)="shoppingItemListClick($event, item)"
                                *ngFor="let item of filteredShoppingItems">
                                {{ item.name }}
                                <i class="fa fa-caret-down float-right"></i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
