ul {
    list-style: none;
}

a.list-group-item:hover {
    cursor: pointer;
}

ul.list-group a {
    height: 50px !important;
    width: 300px;
}

.btn {
    cursor: pointer;
}

button.btn-outline-secondary {
    /*margin-bottom: 25px;*/
}

div.container-fluid {
    padding-top: 20px;
}