<ngx-loading [show]="itemService.loading"></ngx-loading>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 mx-auto">
            <button
                    type="button"
                    class="btn btn-outline-primary"
                    (click)="openNewItem()">
                <i class="fa fa-plus"></i>
                Create New Item
            </button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 mx-auto">
            <ul class="list-group">
                <li>
                    <div class="form-inline">
                        <div class="form-group">
                            <a
                                class="list-group-item"
                                (click)="itemListClick($event, item)"
                                *ngFor="let item of items">
                                {{ item.name }}
                                <button
                                        type="button"
                                        class="btn btn-outline-secondary btn-sm float-right">
                                    <i class="fa fa-pencil-square-o"></i>
                                </button>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
